/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.download {
width: 150px;  
text-align: center;  
text-transform: none;
font-size: 15px;
display: inline-block;
background: #00A0DF;
color: #fff;
font-size: 18px;
border-radius: 50px;
text-decoration: none;
font-family: 'Open Sans', Verdana, Arial, sans-serif; }

.download a {
  text-decoration: none;
  color: #fff;
}

.download a:hover {
    color: #fff;
}
.download p {
  margin: 5px 0;
}

#cutefish_1, #cutefish_2 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 3093.47px;
  perspective-origin: 632.5px 1546.73px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 632.5px 1546.73px; 
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_0 {
margin: 0 auto;
padding: 0 10px;
width: 100%;
}

#cutefish_28 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 703.469px;
  perspective-origin: 632.5px 351.734px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 632.5px 351.734px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_29 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 563.469px;
  perspective-origin: 570px 281.734px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 570px 281.734px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#IMG_30 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 312.469px;
  max-width: 100%;
  perspective-origin: 277.5px 156.234px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 277.5px 156.234px;
  vertical-align: middle;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_31 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 251px;
  perspective-origin: 555px 125.5px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 555px 125.5px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#H1_32 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 58px;
  perspective-origin: 555px 29px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 555px 29px;
  font: 700 40px / 48px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 8px;
  outline: rgb(33, 37, 41) none 0px;
 }

#H1_33 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 53px;
  perspective-origin: 555px 26.5px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 555px 26.5px;
  font: 500 40px / 48px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 8px;
  outline: rgb(33, 37, 41) none 0px;
  }

#H2_34 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 58px;
  perspective-origin: 555px 29px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 555px 29px;
  font: 500 32px / 38.4px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 8px;
  outline: rgb(33, 37, 41) none 0px;
}

#BUTTON_35 {
  appearance: button;
  color: rgb(0, 123, 255);
  column-rule-color: rgb(0, 123, 255);
  cursor: pointer;
  height: 38px;
  perspective-origin: 75px 19px;
  text-decoration: none solid rgb(0, 123, 255);
  transform-origin: 75px 19px;
  user-select: none;
  vertical-align: middle;
  width: 150px;
  border-radius: 800px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(0, 123, 255) none 0px;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#cutefish_36 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  perspective-origin: 632.5px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 632.5px 248px;
  
  background: rgb(245, 245, 245) none repeat scroll 0%  padding-box border-box;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_37, #cutefish_47, #cutefish_57, #cutefish_67 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  max-width: 1140px;
  perspective-origin: 570px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 570px 248px;
  width: 1140px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 62.5px;
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_38, #cutefish_48, #cutefish_58, #cutefish_68 {
  align-items: center;
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  display: flex;
  height: 496px;
  perspective-origin: 570px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 570px 248px;
  width: 1140px;
  flex-flow: row wrap;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px -15px;
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_39, #cutefish_59 {
  bottom: 0px;
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  left: 0px;
  max-width: 50%;
  perspective-origin: 285px 248px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  top: 0px;
  transform-origin: 285px 248px;
  width: 570px;
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_40, #cutefish_60, #cutefish_70 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  perspective-origin: 270px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 270px 248px;
  width: 540px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#IMG_41, #IMG_51, #IMG_61, #IMG_71 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 400px;
  max-width: 100%;
  perspective-origin: 200px 200px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 200px 200px;
  vertical-align: middle;
  width: 400px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_42 {
  bottom: 0px;
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 206px;
  left: 0px;
  max-width: 50%;
  perspective-origin: 285px 103px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  top: 0px;
  transform-origin: 285px 103px;
  width: 570px;
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_43, #cutefish_73 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 206px;
  perspective-origin: 270px 103px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 270px 103px;
  width: 540px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#H2_44, #H2_64 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 38px;
  perspective-origin: 222px 19px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 222px 19px;
  width: 444px;
  font: 500 32px / 38.4px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 8px;
  outline: rgb(33, 37, 41) none 0px;
}

#P_45 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 48px;
  perspective-origin: 222px 24px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 222px 24px;
  width: 444px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 16px;
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_46 {
  background-image: linear-gradient(94.3deg,#1a2140 10.9%,#515473 87.1%);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  perspective-origin: 632.5px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 632.5px 248px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_49, #cutefish_69 {
  bottom: 0px;
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  left: 0px;
  max-width: 50%;
  order: 2;
  perspective-origin: 285px 248px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  top: 0px;
  transform-origin: 285px 248px;
  width: 570px;
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_50 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  order: 2;
  perspective-origin: 270px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 270px 248px;
  width: 540px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_52 {
  bottom: 0px;
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 254px;
  left: 0px;
  max-width: 50%;
  order: 1;
  perspective-origin: 285px 127px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  top: 0px;
  transform-origin: 285px 127px;
  width: 570px;
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_53 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 254px;
  perspective-origin: 270px 127px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 270px 127px;
  width: 540px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#H2_54, #H2_74 {
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  height: 38px;
  perspective-origin: 222px 19px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  transform-origin: 222px 19px;
  width: 444px;
  font: 500 32px / 38.4px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 8px;
  outline: rgb(255, 255, 255) none 0px;
}

#P_55 {
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  height: 96px;
  perspective-origin: 222px 48px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  transform-origin: 222px 48px;
  width: 444px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 16px;
  outline: rgb(255, 255, 255) none 0px;
}

#cutefish_56 {
  background-image: radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(255, 255, 255) 0%, rgb(215, 223, 252) 84%);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  perspective-origin: 632.5px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 632.5px 248px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_62 {
  bottom: 0px;
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 230px;
  left: 0px;
  max-width: 50%;
  perspective-origin: 285px 115px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  top: 0px;
  transform-origin: 285px 115px;
  width: 570px;
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_63 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 230px;
  perspective-origin: 270px 115px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 270px 115px;
  width: 540px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#P_65 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 72px;
  perspective-origin: 222px 36px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 222px 36px;
  width: 444px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 16px;
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_66 {
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  perspective-origin: 632.5px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  transform-origin: 632.5px 248px;
  background-image: radial-gradient(circle farthest-corner at -8.9% 30.7%,#45f0b0 0,#365de4 90.5%);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_72 {
  bottom: 0px;
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 206px;
  left: 0px;
  max-width: 50%;
  order: 1;
  perspective-origin: 285px 103px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  top: 0px;
  transform-origin: 285px 103px;
  width: 570px;
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#P_75 {
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  height: 48px;
  perspective-origin: 222px 24px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  transform-origin: 222px 24px;
  width: 444px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 16px;
  outline: rgb(255, 255, 255) none 0px;
}
