#cutefish_1, #cutefish_2 {
  block-size: 3093.47px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 3093.47px;
  inline-size: 1265px;
  perspective-origin: 632.5px 1546.73px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 632.5px 1546.73px;
  width: 1265px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_28 {
  block-size: 703.469px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 703.469px;
  inline-size: 1265px;
  padding-block-end: 40px;
  padding-block-start: 100px;
  perspective-origin: 632.5px 351.734px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 632.5px 351.734px;
  width: 1265px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 100px 0px 40px;
}

#cutefish_29 {
  block-size: 563.469px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 563.469px;
  inline-size: 1140px;
  margin-inline-end: 62.5px;
  margin-inline-start: 62.5px;
  max-inline-size: 1140px;
  max-width: 1140px;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 570px 281.734px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 570px 281.734px;
  width: 1140px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 62.5px;
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 15px;
}

#IMG_30 {
  block-size: 312.469px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 312.469px;
  inline-size: 555px;
  max-inline-size: 100%;
  max-width: 100%;
  perspective-origin: 277.5px 156.234px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 277.5px 156.234px;
  vertical-align: middle;
  width: 555px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_31 {
  block-size: 251px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 251px;
  inline-size: 1110px;
  padding-block-start: 20px;
  perspective-origin: 555px 125.5px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 555px 125.5px;
  width: 1110px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 20px 0px 0px;
}

#H1_32 {
  block-size: 58px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 58px;
  inline-size: 1110px;
  margin-block-end: 8px;
  margin-block-start: 0px;
  padding-block-end: 10px;
  perspective-origin: 555px 29px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 555px 29px;
  width: 1110px;
  border: 0px none rgb(33, 37, 41);
  font: 700 40px / 48px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 8px;
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 0px 10px;
}

#H1_33 {
  block-size: 53px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 53px;
  inline-size: 1110px;
  margin-block-end: 8px;
  margin-block-start: 0px;
  padding-block-end: 5px;
  perspective-origin: 555px 26.5px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 555px 26.5px;
  width: 1110px;
  border: 0px none rgb(33, 37, 41);
  font: 500 40px / 48px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 8px;
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 0px 5px;
}

#H2_34 {
  block-size: 58px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 58px;
  inline-size: 1110px;
  margin-block-end: 8px;
  margin-block-start: 0px;
  padding-block-end: 20px;
  perspective-origin: 555px 29px;
  text-align: center;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 555px 29px;
  width: 1110px;
  border: 0px none rgb(33, 37, 41);
  font: 500 32px / 38.4px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 8px;
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 0px 20px;
}

#BUTTON_35 {
  appearance: button;
  block-size: 38px;
  border-block-end-color: rgb(0, 123, 255);
  border-block-end-style: solid;
  border-block-end-width: 1px;
  border-block-start-color: rgb(0, 123, 255);
  border-block-start-style: solid;
  border-block-start-width: 1px;
  border-end-end-radius: 800px;
  border-end-start-radius: 800px;
  border-inline-end-color: rgb(0, 123, 255);
  border-inline-end-style: solid;
  border-inline-end-width: 1px;
  border-inline-start-color: rgb(0, 123, 255);
  border-inline-start-style: solid;
  border-inline-start-width: 1px;
  border-start-end-radius: 800px;
  border-start-start-radius: 800px;
  caret-color: rgb(0, 123, 255);
  color: rgb(0, 123, 255);
  column-rule-color: rgb(0, 123, 255);
  cursor: pointer;
  height: 38px;
  inline-size: 150px;
  padding-block-end: 6px;
  padding-block-start: 6px;
  padding-inline-end: 12px;
  padding-inline-start: 12px;
  perspective-origin: 75px 19px;
  text-decoration: none solid rgb(0, 123, 255);
  text-size-adjust: 100%;
  transform-origin: 75px 19px;
  user-select: none;
  vertical-align: middle;
  width: 150px;
  background: rgba(0, 0, 0, 0) none repeat scroll 0%  padding-box border-box;
  border: 1px solid rgb(0, 123, 255);
  border-radius: 800px;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(0, 123, 255) none 0px;
  padding: 6px 12px;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#cutefish_36 {
  block-size: 496px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  inline-size: 1265px;
  perspective-origin: 632.5px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 632.5px 248px;
  width: 1265px;
  background: rgb(245, 245, 245) none repeat scroll 0%  padding-box border-box;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_37, #cutefish_47, #cutefish_57, #cutefish_67 {
  block-size: 496px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  inline-size: 1140px;
  margin-inline-end: 62.5px;
  margin-inline-start: 62.5px;
  max-inline-size: 1140px;
  max-width: 1140px;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 570px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 570px 248px;
  width: 1140px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 62.5px;
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 15px;
}

#cutefish_38, #cutefish_48, #cutefish_58, #cutefish_68 {
  align-items: center;
  block-size: 496px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  display: flex;
  height: 496px;
  inline-size: 1140px;
  margin-inline-end: -15px;
  margin-inline-start: -15px;
  perspective-origin: 570px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 570px 248px;
  width: 1140px;
  border: 0px none rgb(33, 37, 41);
  flex-flow: row wrap;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px -15px;
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_39, #cutefish_59 {
  block-size: 496px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  inline-size: 570px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  max-inline-size: 50%;
  max-width: 50%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 285px 248px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 285px 248px;
  width: 570px;
  border: 0px none rgb(33, 37, 41);
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 15px;
}

#cutefish_40, #cutefish_60, #cutefish_70 {
  block-size: 496px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  inline-size: 540px;
  padding-block-end: 48px;
  padding-block-start: 48px;
  padding-inline-end: 48px;
  padding-inline-start: 48px;
  perspective-origin: 270px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 270px 248px;
  width: 540px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 48px;
}

#IMG_41, #IMG_51, #IMG_61, #IMG_71 {
  block-size: 400px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 400px;
  inline-size: 400px;
  max-inline-size: 100%;
  max-width: 100%;
  perspective-origin: 200px 200px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 200px 200px;
  vertical-align: middle;
  width: 400px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_42 {
  block-size: 206px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 206px;
  inline-size: 570px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  max-inline-size: 50%;
  max-width: 50%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 285px 103px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 285px 103px;
  width: 570px;
  border: 0px none rgb(33, 37, 41);
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 15px;
}

#cutefish_43, #cutefish_73 {
  block-size: 206px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 206px;
  inline-size: 540px;
  padding-block-end: 48px;
  padding-block-start: 48px;
  padding-inline-end: 48px;
  padding-inline-start: 48px;
  perspective-origin: 270px 103px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 270px 103px;
  width: 540px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 48px;
}

#H2_44, #H2_64 {
  block-size: 38px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 38px;
  inline-size: 444px;
  margin-block-end: 8px;
  margin-block-start: 0px;
  perspective-origin: 222px 19px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 222px 19px;
  width: 444px;
  border: 0px none rgb(33, 37, 41);
  font: 500 32px / 38.4px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 8px;
  outline: rgb(33, 37, 41) none 0px;
}

#P_45 {
  block-size: 48px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 48px;
  inline-size: 444px;
  margin-block-end: 16px;
  margin-block-start: 0px;
  perspective-origin: 222px 24px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 222px 24px;
  width: 444px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 16px;
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_46 {
  block-size: 496px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  inline-size: 1265px;
  perspective-origin: 632.5px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 632.5px 248px;
  width: 1265px;
  background: rgba(0, 0, 0, 0) linear-gradient(94.3deg, rgb(26, 33, 64) 10.9%, rgb(81, 84, 115) 87.1%) repeat scroll 0%  padding-box border-box;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_49, #cutefish_69 {
  block-size: 496px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  inline-size: 570px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  max-inline-size: 50%;
  max-width: 50%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  order: 2;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 285px 248px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 285px 248px;
  width: 570px;
  border: 0px none rgb(33, 37, 41);
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 15px;
}

#cutefish_50 {
  block-size: 496px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  inline-size: 540px;
  order: 2;
  padding-block-end: 48px;
  padding-block-start: 48px;
  padding-inline-end: 48px;
  padding-inline-start: 48px;
  perspective-origin: 270px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 270px 248px;
  width: 540px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 48px;
}

#cutefish_52 {
  block-size: 254px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 254px;
  inline-size: 570px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  max-inline-size: 50%;
  max-width: 50%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  order: 1;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 285px 127px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 285px 127px;
  width: 570px;
  border: 0px none rgb(33, 37, 41);
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 15px;
}

#cutefish_53 {
  block-size: 254px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 254px;
  inline-size: 540px;
  padding-block-end: 48px;
  padding-block-start: 48px;
  padding-inline-end: 48px;
  padding-inline-start: 48px;
  perspective-origin: 270px 127px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 270px 127px;
  width: 540px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 48px;
}

#H2_54, #H2_74 {
  block-size: 38px;
  border-block-end-color: rgb(255, 255, 255);
  border-block-start-color: rgb(255, 255, 255);
  border-inline-end-color: rgb(255, 255, 255);
  border-inline-start-color: rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  height: 38px;
  inline-size: 444px;
  margin-block-end: 8px;
  margin-block-start: 0px;
  perspective-origin: 222px 19px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  transform-origin: 222px 19px;
  width: 444px;
  border: 0px none rgb(255, 255, 255);
  font: 500 32px / 38.4px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 8px;
  outline: rgb(255, 255, 255) none 0px;
}

#P_55 {
  block-size: 96px;
  border-block-end-color: rgb(255, 255, 255);
  border-block-start-color: rgb(255, 255, 255);
  border-inline-end-color: rgb(255, 255, 255);
  border-inline-start-color: rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  height: 96px;
  inline-size: 444px;
  margin-block-end: 16px;
  margin-block-start: 0px;
  perspective-origin: 222px 48px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  transform-origin: 222px 48px;
  width: 444px;
  border: 0px none rgb(255, 255, 255);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 16px;
  outline: rgb(255, 255, 255) none 0px;
}

#cutefish_56 {
  block-size: 496px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  inline-size: 1265px;
  perspective-origin: 632.5px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 632.5px 248px;
  width: 1265px;
  background: rgba(0, 0, 0, 0) radial-gradient(circle at 10% 20%, rgb(215, 223, 252) 0%, rgb(255, 255, 255) 0%, rgb(215, 223, 252) 84%) repeat scroll 0%  padding-box border-box;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_62 {
  block-size: 230px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 230px;
  inline-size: 570px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  max-inline-size: 50%;
  max-width: 50%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 285px 115px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 285px 115px;
  width: 570px;
  border: 0px none rgb(33, 37, 41);
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 15px;
}

#cutefish_63 {
  block-size: 230px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 230px;
  inline-size: 540px;
  padding-block-end: 48px;
  padding-block-start: 48px;
  padding-inline-end: 48px;
  padding-inline-start: 48px;
  perspective-origin: 270px 115px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 270px 115px;
  width: 540px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 48px;
}

#P_65 {
  block-size: 72px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 72px;
  inline-size: 444px;
  margin-block-end: 16px;
  margin-block-start: 0px;
  perspective-origin: 222px 36px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 222px 36px;
  width: 444px;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 16px;
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_66 {
  block-size: 496px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 496px;
  inline-size: 1265px;
  perspective-origin: 632.5px 248px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  transform-origin: 632.5px 248px;
  width: 1265px;
  background: rgba(0, 0, 0, 0) radial-gradient(circle at -8.9% 30.7%, rgb(69, 240, 176) 0px, rgb(54, 93, 228) 90.5%) repeat scroll 0%  padding-box border-box;
  border: 0px none rgb(33, 37, 41);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
}

#cutefish_72 {
  block-size: 206px;
  border-block-end-color: rgb(33, 37, 41);
  border-block-start-color: rgb(33, 37, 41);
  border-inline-end-color: rgb(33, 37, 41);
  border-inline-start-color: rgb(33, 37, 41);
  bottom: 0px;
  box-sizing: border-box;
  caret-color: rgb(33, 37, 41);
  color: rgb(33, 37, 41);
  column-rule-color: rgb(33, 37, 41);
  height: 206px;
  inline-size: 570px;
  inset-block-end: 0px;
  inset-block-start: 0px;
  inset-inline-end: 0px;
  inset-inline-start: 0px;
  left: 0px;
  max-inline-size: 50%;
  max-width: 50%;
  min-block-size: auto;
  min-height: auto;
  min-inline-size: auto;
  min-width: auto;
  order: 1;
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  perspective-origin: 285px 103px;
  position: relative;
  right: 0px;
  text-align: left;
  text-decoration: none solid rgb(33, 37, 41);
  text-size-adjust: 100%;
  top: 0px;
  transform-origin: 285px 103px;
  width: 570px;
  border: 0px none rgb(33, 37, 41);
  flex: 0 0 50%;
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: rgb(33, 37, 41) none 0px;
  padding: 0px 15px;
}

#P_75 {
  block-size: 48px;
  border-block-end-color: rgb(255, 255, 255);
  border-block-start-color: rgb(255, 255, 255);
  border-inline-end-color: rgb(255, 255, 255);
  border-inline-start-color: rgb(255, 255, 255);
  box-sizing: border-box;
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  column-rule-color: rgb(255, 255, 255);
  height: 48px;
  inline-size: 444px;
  margin-block-end: 16px;
  margin-block-start: 0px;
  perspective-origin: 222px 24px;
  text-align: left;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  transform-origin: 222px 24px;
  width: 444px;
  border: 0px none rgb(255, 255, 255);
  font: 16px / 24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0px 0px 16px;
  outline: rgb(255, 255, 255) none 0px;
}
